* {
    text-decoration: none;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

html, body {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 24px;
    background-color: black;
}

img {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #312f2f;
    height: 50px;
    width: 100%;
}

.navigation {
    font-size: 28px;
    color: #ffffff;
}

.top-menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.top-menu li {
    padding-right: 40px;
    margin: 10px;
}

.navigation a,
.top-menu a {
    list-style: none;
    color: #ffffff;
}

.navigation a:hover,
.navigation a:focus,
.top-menu a:hover,
.top-menu a:focus {
    background-color: grey;
}


.top {
    width: 100%;
    display: flex;
    margin-left: auto; 
    margin-right: auto;  
}

.engine {
    display: flex;
    width: 950px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
}

.engine-picture {
    width: 40%;
    height: 300px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 25px;
    margin-right: 25px;
}

.engine-text {
    width: 60%;
    display: flex;
    margin-right: 25px;
}

.transmission {
    display: flex;
    width: 950px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
}

.transmission-picture {
    width: 40%;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;
}

.transmission-text {
    width: 60%;
    display: flex;
    margin-left: 25px;
    margin-top: auto;
    margin-bottom: auto;
}

.suspension {
    display: flex;
    width: 950px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
}

.suspension-picture {
    width: 40%;
    height: 300px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 25px;
    margin-right: 25px;
}

.suspension-text {
    width: 60%;
    display: flex;
    margin-right: 25px;
}

.acceleration {
    display: flex;
    flex-direction: column;
    width: 950px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
}

.acceleration-video {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.acceleration-text {
    display: flex;
    margin-left: 25px;
    margin-top: auto;
    margin-bottom: auto;
}

.indicators {
    display: flex;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    justify-content: space-around;
}

.oneHundred,
.twoHundred,
.threeHundred {
    background-color: grey;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

footer{
    width:100%;
    background-color: #312f2f;
    content: ' ';
    margin-top: 200px;
}
.foot1 {
    text-align: center;
}

.foot2{

    width: 200px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
}

.foot2 img {
    width: 36px;
    height: 36px;
}

.social {
    list-style: none;
    display: flex;
    
}

.social a {
    margin-right: 50px;    
}